/* Debian language css file for chinese simplified - zh-cn */
/* please do not touch for now! - Jutta Wrage 2005 */

html[lang|=zh] #maincol {
	font-family: Song, Arial, sans-serif; 
}
html[lang|="zh"] strong {
        font-weight: 400;
}
html[lang|=zh] #maincol li {
	line-height: 1.2em;
	padding: 0.1em;
}
html[lang|="zh"] h1, html[lang|="zh"] h2, html[lang|="zh"] h3, html[lang|="zh"] h4 {
	/* font-weight: 600; */
}

html[lang|="zh"] dl.gloss dt {
	font-weight: 400;
	font-size: 110%;
}
.active {
	color: red;
}
html[lang|=zh] #leftcol ul, html[lang|=zh] #leftcol, html[lang|=zh] #navbar a {
	font-size: 1em;
	font-weight: normal;
}

/* quotes */
html[lang=zh-cn] q:before { content: "\300C"; }
html[lang=zh-cn] q:after { content: "\300D"; }
html[lang=zh-cn] q q:before { content: "\300E"; }
html[lang=zh-cn] q q:after { content: "\300F"; }

html[lang=zh-cn] blockquote.quote p:first-child:before { content: "\300C"; }
html[lang=zh-cn] blockquote.quote p:after { content: ""; }
html[lang=zh-cn] blockquote.quote p.last:after { content: "\300D"; }

html[lang=zh-hk] q:before { content: "\300C"; }
html[lang=zh-hk] q:after { content: "\300D"; }
html[lang=zh-hk] q q:before { content: "\300E"; }
html[lang=zh-hk] q q:after { content: "\300F"; }

html[lang=zh-hk] blockquote.quote p:first-child:before { content: "\300C"; }
html[lang=zh-hk] blockquote.quote p:after { content: ""; }
html[lang=zh-hk] blockquote.quote p.last:after { content: "\300D"; }

/* quotes */
html[lang=zh-tw] q:before { content: "\300C"; }
html[lang=zh-tw] q:after { content: "\300D"; }
html[lang=zh-tw] q q:before { content: "\300E"; }
html[lang=zh-tw] q q:after { content: "\300F"; }

html[lang=zh-tw] blockquote.quote p:first-child:before { content: "\300C"; }
html[lang=zh-tw] blockquote.quote p:after { content: ""; }
html[lang=zh-tw] blockquote.quote p.last:after { content: "\300D"; }

