/* Debian language css file for chinese simplified - zh-cn */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=zh-cn] q:before { content: "\201C"; }
html[lang=zh-cn] q:after { content: "\201D"; }
html[lang=zh-cn] q q:before { content: "\2018"; }
html[lang=zh-cn] q q:after { content: "\2019"; }

