<DEFINE-CONTAINER LIST>
<TABLE BORDER=0 CELLPADING=5 CELLSPACING=5>
%BODY
</TABLE>
</DEFINE-CONTAINER>

<DEFINE-CONTAINER NAME>
<TR VALIGN=TOP><TD><B>%BODY</B></TD>
</DEFINE-CONTAINER>

<DEFINE-CONTAINER DESC>
<TD>%BODY</TD></TR>
</DEFINE-CONTAINER>
