<define-tag LIST endtag=required>
<TABLE BORDER=0 CELLPADING=5 CELLSPACING=5>
%body
</TABLE>
</define-tag>

<define-tag NAME endtag=required>
<TR VALIGN=TOP><TD><B>%body</B></TD>
</define-tag>

<define-tag DESC endtag=required>
<TD>%body</TD></TR>
</define-tag>
