/* Debian language css file for korean - ko */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes ok */
html[lang=ko] q:before { content: "\201C"; }
html[lang=ko] q:after { content: "\201D"; }
html[lang=ko] q q:before { content: "\2018"; }
html[lang=ko] q q:after { content: "\2019"; }
/*
html[lang=ko] .ko2 q:before { content: "\00AB"; }
html[lang=ko] .ko2 q:after { content: "\00BB"; }
*/
