#mastWrapper {
background: url(header-bg4.png) bottom left repeat-x #fff;
}

#masthead
{
position:relative;
background: url(header-image4.png) no-repeat transparent;
border-style: solid;
border-width: 0;
color: #000;
height: 90px;
}

#masthead h1
{
	text-indent: -10000px;
	margin:0;
}

#search 
{
position:absolute;
top:10px;
right:20px;		  
}
#masthead #search a {
	color: #5B4832;
	text-decoration: underline;
}
#nav 
{
position:absolute;
bottom:0px;
right:10px;
}
		  
#nav ul 
{
margin:0;
padding:10px 10px 0 20px;
list-style:none;
}
		  
#nav li 
{
float:left;
background:url("tab_off_ns1.gif") no-repeat left top;
margin:0;
padding:0 0 0 5px;
}

#nav a 
{
float:left;
font-size:105%;
display:block;
background:url("tab_off_ns2.gif") no-repeat right top;
padding:10px 15px 3px 8px;
text-decoration:none;
font-weight:bold;
color:#444;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#nav a {float:none;}
/* End IE5-Mac hack */
#nav a:hover {
color:#333;
}

#nav li:hover, #nav li:hover a 
{
background-position:0% -163px;
color:#000;
}

#nav li:hover a 
{
background-position:100% -163px;
color:#000;
}

#nav #current 
{
background:url("tab_on_ns1.gif") no-repeat left top;		  
}

#nav #current a 
{
background:url("tab_on_ns2.gif") no-repeat right top;		  
padding-bottom:4px;
color:#000;
}

.portalMessagehead,
.system-messagehead,  /* These two last ones are reST error indicators */
#error-handling {
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    color: #6d4c07;
    font-size: 10px;
    font-weight: bold;
    margin: 1em 0em 0em 0em;
    padding: 0.5em 1em 0.5em 3em;
    vertical-align: middle;
}
.portalMessagehead a {
    color: #6d4c07;
    text-decoration: underline;
}
