
.hiddenStructure {
	display: none;
}

.imageLink {
	text-decoration: none;
}

hr {
    height: 1px;
    color: #6d4c07;
    background-color: transparent;
}

body
{
	background-color: #fff;
	color: #000;
	font-size: 100.1%;
	margin: 0;
	padding: 0;
}
#pageWrapper
{
	border-style: solid;
	border-width: 0;		/* layout's side borders */
	font-family: arial, helvetica, sans-serif;
	font-size: 80%;			/* arial looks better with a smaller size */
	margin: 0;
	min-width: 500px;		/* IE doens't understand this property */
	width: auto;
}
* html #pageWrapper
{
	word-wrap: break-word;		/* invalid CSS but keeps IE from breaking 
				   	horribly under narrow viewports */
}

#outerColumnContainer
{
	background-color: #fff;
	border-style: solid;
	border-width: 0 18em 0 0;	/* side border widths must equal the
				   	widths of the left and right columns. 
				 	*/
	border-right-color: #fff;	/* right hand column background color */
	color: #000;
	z-index: 1;
}
* html #outercolumncontainer
{
	/* IE5.0/Win fix for 1px whitespace between masthead and body. 
	 * The case-incorrect selector is on purpose. IE5.0 and IE5.5 are
	 * case insensitive and I'm targeting IE 5.0. 5.5 doesn't get hurt
	 * by this extra margin work.
	 */
	margin-top: -1px;
	border-top: solid 1px #fff;
}
#innerColumnContainer
{
	width: 100%;
	z-index: 2;
}
html[xmlns] .mozclear
{
	/* this selector should be valid CSS, but Opera 7.5 (and above) will pick
	 * this up as well. Shouldn't be a problem, Opera should handle this fine,
	 * but it's a Mozilla-targeted hack, and it should probably only affect
	 * mozilla. You can do that by replacing the INVALID CSS selector
	 * :root .mozclear for what's give here.
	 */
	border-bottom: 1px solid;
	border-color: transparent;
	margin-bottom: -1px;
}
#rightColumn, #contentColumn
{
	float: left;
	overflow: visible;		/* fix for IE italics bug */
	position: relative;
	z-index: 10;
}
#rightColumn
{
	float: right;			/* doesn't have to be floated right, but if using some
			   		original skidoo tweaks, you need it this way */
	margin: 0 -18em 0 1px;
	width: 18em;
}
#rightColumn .inside
{
	font-size: 100%;		/* because the parent element ( #rightColumn )
			   		defines its width in EMs, we can't change the font 
			   		size in that selector, otherwise the column won't use
			   		the entire width reserved for the column */
}
#contentColumn
{
	margin: 0 -1px 0 0;		/* required to get the negative margin-based
				   	layout to work. if #contentColumn does not
				   	overlap the left and right columns, then
				   	the whole layout will break */
	width: 100%;
	font-family: Verdana, arial, helvetica, sans-serif; 
}

#footWrapper {
	background: url(footer-bg.png);
	background-repeat: repeat-x;
	border-bottom: 2px solid #583D1E;
}

#footer
{
	color: #5B4832;
	background-image: url(footer-image2.png);
	background-repeat: repeat-y;
	background-position: left top;
	position: relative;
	text-align: center;
	padding: 10px;
}

#prefooter
{
	color: #5B4832;
	text-align: center;
}

#prefooter .bordertop
{
	border-top: 1px dotted #C1B496;
}

#extranav
{
	margin: 0;
	border-bottom: 1px dotted #C1B496;
}

#extranav a, #extranav a:visited, #prefooter a, #prefooter a:visited { color: #2e2003;} /* darker brown */
#extranav a:hover, #prefooter a:hover {color: #800000; } /* ubuntu dark brown */


html>body #footer
{
	padding-bottom: 1.01em;		/* attempt to fix Gecko engine's rounding errors
				   	which can disrupt the layout. */
}
#footer a
{
	color: #5B4832;
}

p, h1, h2, h3, h4, h5, h6
{
	margin: .6em 0 .4em 0;			/* for better consistency across platforms */
}

.clear
{
	clear: both;
}
.inside
{
	padding: 0 1.5em;		/* glitch in IE caused by vertical padding in
				   	this class, so 0 padding is set here and
				   	those blocks that need the vertical padding
				   	must be applied to the parent element.
				   	the purpose of this class is to provide 
				   	horizontal padding without using hacks to
				   	get around IE's broken box model. so it's
				   	okay to apply vertical padding to the parent
				   	element, just not horizontal padding. */
}
#contentColumn, #rightColumn
{
	padding-top: 3.0em;
	padding-bottom: 1.0em;		/* this is the vert padding talked about in the
				   	.inside selector comment. */
}
#footer
{
	padding: .3em;			/* ditto from above */
}
#pageWrapper, #innerColumnContainer, #masthead, #footer
{
	border-color: #000;		/* one-stop control of border color used within
				   	the layout */
}
#outerColumnContainer
{
	border-top-color: #000;		/* should match the above border color */
}

/* navigation elements */
#rightColumn ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	color: #696969;
}
#rightColumn li {
    margin-bottom: 0px; /* Overwrite plone,css settings */
}
#rightColumn #navigation_links li
{
	padding: 0 0 .3em 20px;
	font-size: 120%;
}
#rightColumn #navigation_news li
{
	padding: 0 .3em .3em 20px;
}
#rightColumn a
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
#rightColumn li.active
{
	background-image: url(little-u.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

#rightColumn a:hover
{
	text-decoration: underline;
	color: black;
}

/* body styles */
#contentColumn a
{
	color: black;
}

#contentColumn p
{
	font-size: 100%;
	font-family: Verdana, arial, helvetica, sans-serif;
}


/* header styles */
h1, h2, h3, h4, h5, h6
{
	width: 100%;
	color: #6D4C07;
	padding-bottom: .0em;
	padding-top: 0.4em;
	font-family: Verdana, arial, helvetica, sans-serif; 
}

h1
{
	font-size: 170%;
	border-bottom: 2px solid #6D4C07;
}

h2
{
	font-size: 160%;
	border-bottom: 2px solid #6D4C07;
}
h3
{
	margin-top: 20px;
	font-size: 130%;
	border-bottom: 2px solid #6D4C07;
        
}
h4
{
	font-size: 120%;
	border-bottom: 1px solid #6D4C07;
}
h5
{
	font-size: 110%;
}
h6 {
	font-size: 100%;
}

.featured {
	font-size: 125%;
	font-style: italic;
}
	
dt
{
	margin-top: 20px;
	margin-bottom: 8px;
	font-size: 120%;
	border-bottom: 1px solid #6D4C07;
}

img { border: 0; }
