/* Debian language css file for polish - pl */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes ok */
html[lang=pl] q:before { content: "\201E"; }
html[lang=pl] q:after { content: "\201D"; }
html[lang=pl] q q:before { content: "\00AB"; }
html[lang=pl] q q:after { content: "\00BB"; }

html[lang=pl] blockquote.quote:before { content: "\201E"; }
html[lang=pl] blockquote.quote:after { content: "\201D"; }

/* html[lang=pl] q:before { content: "\201E"; }
html[lang=pl] q:after { content: "\201D"; }
html[lang=pl] q q:before { content: "\201A"; }
html[lang=pl] q q:after { content: "\2019"; }
*/
/* html[lang=pl] q:before { content: "\00AB"; }
html[lang=pl] q:after { content: "\00BB"; }
*/

