/* Debian language css file for dutch - nl */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes ok */
html[lang=nl] q:before { content: "\201E"; }
html[lang=nl] q:after { content: "\201D"; }
html[lang=nl] q q:before { content: "\201A"; }
html[lang=nl] q q:after { content: "\2019"; }

html[lang=nl] blockquote.quote p:first-child:before { content: "\201E"; }
html[lang=nl] blockquote.quote p:after { content: ""; }
html[lang=nl] blockquote.quote p.last:after { content: "\201D"; }

/* 
html[lang=nl] q:before { content: "\201D"; }
html[lang=nl] q:after { content: "\201D"; }
html[lang=nl] q q:before { content: "\2019"; }
html[lang=nl] q q:after { content: "\2019"; }
*/
