/* Debian language css file for french - fr */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes ok */
html[lang="fr"] q:before { content: "\00AB\00A0"; white-space: nowrap;}
html[lang="fr"] q:after { content: "\00A0\00BB"; white-space: nowrap;} 
html[lang="fr"] q q:before { content: "\2039\00A0"; white-space: nowrap;}
html[lang="fr"] q q:after { content: "\00A0\203A"; white-space: nowrap;}

