/* Debian language css file for indonesian - id */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
div[lang=id] q:before { content: "\201C"; }
div[lang=id] q:after { content: "\201D"; }
div[lang=id] q q:before { content: "\2018"; }
div[lang=id] q q:after { content: "\2019"; }

