/* Debian language css file for italian - it */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=it] q:after { content: "\00BB"; }
html[lang=it] q:before { content: "\00AB"; }

html[lang=it] blockquote.quote p:first-child:before { content: "\00BB"; }
html[lang=it] blockquote.quote p:after { content: ""; }
html[lang=it] blockquote.quote p.last:after { content: "\00AB"; }

/* html[lang=it] q:before { content: "\201C"; }
html[lang=it] q:after { content: "\201D"; }
html[lang=it] q q:before { content: "\2018"; }
html[lang=it] q q:after { content: "\2019"; }
*/
