/* Debian language css file for norwegian - nb */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes ok */
html[lang=nn] q:before { content: "\00AB"; }
html[lang=nn] q:after { content: "\00BB"; }
html[lang=nn] q q:before { content: "\2018"; }
html[lang=nn] q q:after { content: "\2019"; }

html[lang=nn] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=nn] blockquote.quote p:after { content: ""; }
html[lang=nn] blockquote.quote p.last:after { content: "\00BB"; }

/* html[lang=nn] q:before { content: "\00AB"; }
html[lang=nn] q:after { content: "\00BB"; }
html[lang=nn] q q:before { content: "\2039"; }
html[lang=nn] q q:after { content: "\203A"; }
*/
/* html[lang=nn] q:before { content: "\201C"; }
html[lang=nn] q:after { content: "\201D"; }
html[lang=nn] q q:before { content: "\2018"; }
html[lang=nn] q q:after { content: "\2019"; }
*/
