/* Debian language css file for slovene - sl */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=sl] q:before { content: "\201E"; }
html[lang=sl] q:after { content: "\201C"; }
html[lang=sl] q q:before { content: "\201A"; }
html[lang=sl] q q:after { content: "\2018"; }

html[lang=sl] blockquote.quote p:first-child:before { content: "\201E"; }
html[lang=sl] blockquote.quote p:after { content: ""; }
html[lang=sl] blockquote.quote p.last:after { content: "\201C"; }

/* html[lang=sl] q:before { content: "\00BB"; }
html[lang=sl] q:after { content: "\00AB"; }
html[lang=sl] q q:before { content: "\203A"; }
html[lang=sl] q q:after { content: "\2039"; }
*/
