body {
  font-family: Verdana, Helvetica, sans-serif; 
  font-size: 10pt;
  margin-left:2px; 
  margin-right:2px; 
}

p {
  text-align: justify; 
}

h1 {
  font-size: 20pt; 
  font-weight: bold; 
}

h2 {
  font-size: 16pt; 
  font-weight: bold; 
}

h3 {
  font-size: 14pt; 
  font-weight: bold; 
}

h4 {
  font-size: 12pt; 
  font-weight: bold; 
}

a:hover {  
  text-decoration: underline;
  color: #333333; 
}

a:link {
  text-decoration: none;
  color: #000099;
}

a {
  text-decoration: none;
  color: #000099;
}

a.strong-link {
  text-decoration: underline;
  color: #000099;
}

a.slide {
  text-decoration: none;
  font-weight: bold;
  color: #FF00FF;
}

a.slide:hover {  
  text-decoration: none;
  font-weight: italic;
  color: #00FF00; 
}

a.slideheading {
  font-size: 18pt; 
  text-decoration: none;
  color: #8080FF;
}

a.slideheading:hover {  
  font-size: 18pt; 
  text-decoration: none;
  color: #00FF00; 
}

a.slideheading3 {
  font-size: 14pt; 
  text-decoration: none;
  color: #8080FF;
}

a.slideheading3:hover {  
  font-size: 14pt; 
  text-decoration: none;
  color: #00FF00; 
}

ul {
  font-size: 11pt;
  color: #111111;
}

ul.sub {
  font-size: 10pt;
  color: #222222;
}

.conclusion {
  text-align: center;
  font-weight: bold;
  font-size: 12pt; 
}

.hint {
  text-align: center;
  font-weight: italic;
  font-size: 11pt; 
}

.mark {
  text-indent: 25px;
  font-weight: bold;
  font-size: 11pt; 
  color: #111111;
}

.description {
  text-indent: 25px;
}

.typewriter {
  font-family: Courier_New, Courier, serif; 
  font-weight: bold;
  font-size: 14pt; 
  color: #111111;
}

.tt {
  font-family: Courier New, Courier, serif;
  font-size:17pt;
  font-weight: bold; 
  color: #A0FFA0;
}

pre {
  font-family: Courier New, Courier, serif;
  font-size:14pt;
  font-weight: bold; 
  color: #A0FFA0;
}

.pageno {
  text-align: right;
  font-weight: italic;
  font-size: 9pt; 
  color: #444444;
}

.title {
  text-align: center;
  font-size: 18pt; 
  font-weight: bold; 
}

.subtitle {
  text-align: center;
  font-size: 14pt; 
  font-weight: bold; 
}

.slide {
  padding-top:3px; 
  padding-bottom:3px;
  font-size:10pt;
  color: #FFFFFF;
  background-color: #000070;
}

.code {
  border-width:6px; 
  border-color:#9999FF; 
  border-style:groove; 
  padding:5px;
  text-align: justify; 
  color: #E0E000;
  background-color: #0000B0;
  font-size: 12pt;
}

.sub1 {
  color: #AAAAFF;
}

.center {
  text-align: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.small {
  font-size: 9pt;
}

.bold {
  font-weight: bold;
  color: #FFFF00;
}

.boldcenter {
  font-weight: bold;
  text-align: center;
  font-size: 17pt;
  line-height: 42px;
}

.defh {
  font-weight: bold;
  font-size: 12pt; 
}

.deft {
  font-size: 11pt;
  text-align: justify; 
  margin-left:17px; 
  margin-right:17px; 
}

.verybig {
  font-size: 24pt; 
  font-weight: bold; 
  text-align: center; 
  padding-top:42px; 
  padding-bottom:42px;
  line-height: 78px;
  color: #FFFFFF;
  background-color: #000070;
}
