/* Debian language css file for Vietnamese - vi */

q { font-style: italic; }
/* quotes */
html[lang=vi] q:before { content: "\201C"; }
html[lang=vi] q:after { content: "\201D"; }
html[lang=vi] q q:before { content: "\2018"; }
html[lang=vi] q q:after { content: "\2019"; }
