/* Debian language css file for portuguese - pt */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=pt] q:before { content: "\201C"; }
html[lang=pt] q:after { content: "\201D"; }
html[lang=pt] q q:before { content: "\2018"; }
html[lang=pt] q q:after { content: "\2019"; }

html[lang=pt] blockquote.quote p:first-child:before { content: "\201C"; }
html[lang=pt] blockquote.quote p:after { content: ""; }
html[lang=pt] blockquote.quote p.last:after { content: "\201D"; }

/* html[lang=pt] q:before { content: "\00AB"; }
html[lang=pt] q:after { content: "\00BB"; }
html[lang=pt] q q:before { content: "\2039"; }
html[lang=pt] q q:after { content: "\203A"; }
*/
