# Macros used by Debian Chinese Project pages

<define-tag emailp whitespace=delete>
<A href="mailto:%0">%0</A>
</define-tag>

<define-tag email whitespace=delete>
&lt;<emailp %0>&gt;
</define-tag>

<define-tag package>
<A href="http://packages.debian.org/%0">%0</A>
</define-tag>

<define-tag backtocnt>
<P><I><SMALL><href url="#top" name="^ 回目錄 ^"></SMALL></I>
<HR width="95%" align="left">
</define-tag>

<define-tag bodypar endtag=required>
<over 20>%body</over>
</define-tag>

<define-tag pagetoc>
{: <toc> [[s/<ul>\n*<ul>/<ul id=\"pagecontent\">/]] [[s/<\/ul>\n*<\/ul>/<\/ul>/]] [[s/<strong>(.*)?<\/strong>/$1/g]] :}
</define-tag>

