# Note: Do not load wml::debian::template; it is already included.
#
# Portions by Anthony Fok, based on his OLVC Home Page template.  :-)
# 2000-06-26

# $Id$

#use wml::debian::basic SUMMARY="$(SUMMARY)"
#use wml::debian::languages
#  not use wml::std::toc style=hspace
#use wml::std::href
#use wml::std::box
#use wml::std::grid
#use tmpl::debian-zh::navbar
#use tmpl::debian-zh::macros

# Our very own stylesheet.  :-)
{#style#:\
<LINK href="$(CHINESE)/debian-zh.css" rel="stylesheet" type="text/css">\
:##}

# Local Chinese header for navbar
<ifmenu>
<TABLE width="100%" cellspacing="0" cellpadding="0" border="0">\
<TR><TD colspan="3"><IMG src="$(PICS)/imgdot-1x1-transp.gif" alt="" height="3"></TD></TR>
<TR>
<TD valign=top bgcolor="#bbddff">
<IMG src="$(PICS)/blue-upperleft.png" align="left" border="0" hspace="0" vspace="0">
<IMG src="$(PICS)/blue-upperright.png" align="right" border="0" hspace="0" vspace="0">
</TD>
<TD colspan="2"></TD>
</TR>

<TR>
<TD valign=top bgcolor="#bbddff">
<navbar:render nohints name=main select=$(area) $(subselected:+subselected)>
</TD>
<TD>&nbsp;&nbsp;</TD>
<TD valign="top">

# </TABLE>
#</TD>
</ifmenu>

$(nomenu:+<BR>)

<: if ("$(NOHEADER)" eq "") {
	print "<H1>$(title)</H1>\n";
	}
:>

{#mainbody#}

<ifmenu>
</TD>
</TR>

<TR>
<TD valign="bottom" bgcolor="#bbddff">
 <IMG src="$(PICS)/blue-lowerleft.png" align="left" border="0" hspace="0" vspace="0">
 <IMG src="$(PICS)/blue-lowerright.png" align="right" border="0" hspace="0" vspace="0">
</TD>
<TD colspan="2"></TD>
</TR>
</TABLE>
</ifmenu>

<ifeq "$(NOHOMELINK)" "" "
<hrline>
<returnline>
">

<ifeq "$(NOLANGUAGES)" "" "
<:= languages() :>
">

<hrline>

#use wml::debian::footer

{#mainbody#:
