/* Debian language css file for arabic - ar */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang|="ar"] q:before { content: "\00AB"; }
html[lang|="ar"] q:after { content: "\00BB"; }

html[lang=ar] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=ar] blockquote.quote p:after { content: ""; }
html[lang=ar] blockquote.quote p.last:after { content: "\00BB"; }

/* This part add by Ebraminio and Meisam Khezerloo 2011 */

html[lang=ar] #header {
    padding:0 52px 0 10px;
}
html[lang=ar] #logo {
    left:auto;
    right:0;
    direction:ltr;
}
html[lang=ar] #searchbox {
    left:0;
    right: auto;
}
html[lang=ar] #navbar li {
    float:right;
}
html[lang=ar] #content,
html[lang=ar] #footer {
    margin:0 52px 0 10px;
}
html[lang=ar] #langContainer {
    direction:ltr;
    text-align:right;
}

html[lang=ar] ul#hometoc-cola, html[lang=ar] ul#hometoc-colb, 
html[lang=ar] ul#hometoc-colc, html[lang=ar] ul#hometoc-cold,
html[lang=ar] ul#hometoc-cole {
	float: right;
}

html[lang=ar] ul#footermap-cola, html[lang=ar] ul#footermap-colb,
html[lang=ar] ul#footermap-colc, html[lang=ar] ul#footermap-cold,
html[lang=ar] ul#footermap-cole {
   float: right;
}

html[lang=ar] ol,
html[lang=ar] ul {
     padding-right: 1.5em;
     padding-left: 0;
}

html[lang=ar] span.download {
  left: 13px;
  right: auto;
}

html[lang=ar] a.rss_logo {
	float: left;
}


html[lang=ar] ol {
  list-style-type: -moz-arabic;
  list-style-type: arabic;
}

html[lang=ar] body {
  font-family: Tahoma, 'DejaVu Sans', sans-serif;
}

html[lang=ar] tt {
    font-family: Tahoma, 'DejaVu Sans', sans-serif;
}

html[lang=ar] #footer {
    direction:rtl;
}

html[lang=ar] h1 {
    direction:rtl;
}

html[lang=ar] #breadcrumbs {
    direction:rtl;
}

html[lang=ar] #searchbox {
    direction:rtl;
}