/* Debian language css file for arabic - ar */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang|="ar"] q:before { content: "\00AB"; }
html[lang|="ar"] q:after { content: "\00BB"; }

html[lang=ar] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=ar] blockquote.quote p:after { content: ""; }
html[lang=ar] blockquote.quote p.last:after { content: "\00BB"; }

