/* Debian language css file for persian - fa */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=fa] q:before { content: "\00AB"; }
html[lang=fa] q:after { content: "\00BB"; }

html[lang=fa] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=fa] blockquote.quote p:after { content: ""; }
html[lang=fa] blockquote.quote p.last:after { content: "\00BB"; }



