/* Debian language css file for persian - fa */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=fa] q:before { content: "\00AB"; }
html[lang=fa] q:after { content: "\00BB"; }

html[lang=fa] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=fa] blockquote.quote p:after { content: ""; }
html[lang=fa] blockquote.quote p.last:after { content: "\00BB"; }

/* This part add by Ebraminio and Meisam Khezerloo 2011 */
/* If you find problem in persian css contact debian-l10n-persian mailing list */

html[lang=fa] #header {
    padding:0 52px 0 10px;
}
html[lang=fa] #logo {
    left:auto;
    right:0;
    direction:ltr;
}
html[lang=fa] #searchbox {
    left:0;
    right: auto;
}
html[lang=fa] #navbar li {
    float:right;
}
html[lang=fa] #content,
html[lang=fa] #footer {
    margin:0 52px 0 10px;
}
html[lang=fa] #langContainer {
    direction:ltr;
    text-align:right;
}

html[lang=fa] ul#hometoc-cola, html[lang=fa] ul#hometoc-colb, 
html[lang=fa] ul#hometoc-colc, html[lang=fa] ul#hometoc-cold,
html[lang=fa] ul#hometoc-cole {
	float: right;
}

html[lang=fa] ol,
html[lang=fa] ul {
     padding-right: 1.5em;
     padding-left: 0;
}

html[lang=fa] span.download {
  left: 13px;
  right: auto;
}

html[lang=fa] a.rss_logo {
	float: left;
}

html[lang=fa] ol {
  list-style-type: -moz-persian;
  list-style-type: persian;
}
