/* css file for debian web site - Jutta Wrage 2004 */

/* all pages have a header, outer inner and footer
leftcol and maincol can be omitted, ther will be other boxes
to replace later (eg. two content columns)
normal page:
<div id="header">
  <div id="upperheader">
     <div id="logo">
     </div> <!-- end logo -->
     <div id="serverselect">
     </div> <!-- end serverselect -->
  </div> <!-- end upperheader -->
  <div id="navbar">
  </div> <!-- end navbar -->
</div> <!-- end header -->
<div id="outer">
  <div id="inner">
    <div id="leftcol">
      Lefcol is for menus - if ommited, maincol can be omitted, too
    </div> <!-- end leftcol -->
    <div id="maincol">
      Maincol with margin left is for the content
      But content may go directly to inner
    </div> <!-- end maincol -->
  </div> <!-- end inner -->
  <div id="footer">
    <hr class="hidecss"> This line is a divider for lynx
  </div> <!-- end footer -->
</div> <!-- end outer -->

*/

html, body{
   color: black;
   background: white;
   margin:0; 
   padding:0;
   text-align:left;
   margin-left: 4px;
   /* min-width: 440px - commentet out due to mozilla problems*/
} 

#pagewidth{ 
   width:100%; 
   text-align:left; 
} 

/* now the header*/
#header {
   margin-left: -3px;
   width:100%;
   height: auto;
}
/* upper nestet header box*/
#upperheader {
   width: 100%;
   margin-top: 11px;
   height: auto;
   /* height: 4.8em; */
   background: white;;
}

#logo {
   float: left;
   margin-left: 6px;
   background: white;
}

#serverselect {
   display: block;
   padding-top: 1px;
   margin-right: 6px;
   margin-left: auto;
   text-align: center;
   width: 15em;
   top: 0;
   right: 0;
}

#serverselect p small {
   color: #990000;
   font-size: 0.8em;
   font-weight: normal;
}

#serverselect p select  {
   font-size: 88%;
}

#serverselect p input  {
   font-size: 88%;
}

#hpacketsearch {
   display: block;
   padding-top: 1px;
   padding-left: 5px;
   margin-right: 0.2em;
   margin-left: auto;
   text-align: left;
   width: 25em;
   top: 0em;
   right: 0em;
}

#hpacketsearch p small {
   color: #990000;
   font-size: 0.8em;
   font-weight: normal;
}

#hpacketsearch p select  {
   font-size: 88%;
}

#hpacketsearch p input  {
   font-size: 88%;
}

#navbar {
   clear: both;
   padding-left: 0px;
   /* margin-top: 5px; */
   padding-top: 6px;
   padding-bottom: 4px;
   width: 100%;
   height: auto;
   text-align: center;
   background: #DF0451;
}

img { border: 0; }

#navbar ul {
   display: inline;
   list-style-type: none;
   padding-left:  0px;
}

#navbar ul li {
   display: inline;
   margin: 0;
   white-space: nowrap;
}

#navbar p {
   display: inline;
}
/*the rest of page out of two nested boxes around*/

#outer{
    /*border:solid white 2px;*/
    background-color: white;
    width: auto;
} 

#inner{
   margin:0;
   width:100%;
   background: white;
}

#leftcol {
   float: left;
   margin: 0px;
   width: 13em;
   background: #BBDDFF;
   padding-left: 0px;
   font-size: 95%;
   font-family: sans-serif;
}

#leftcol p img {
   margin-left: 1em;
   padding-right: 1em;
}

#leftcol h2 {
   padding-left: 2px;
   padding-top: 0px;
   line-height: 0.2em;
}

#leftcol ul {
   list-style-type: none;
   padding-left:  5px;
}

#leftcol ul li {
   font-size: 0.8em;
   font-weight: normal;
}
      
#maincol{
   margin-left: 13em;
   width: auto;
   background: white;
}

h1 {
}

#lefthalfcol {
   float: left;
   margin-left: 0em;
   width: 49%;
}

#lefthalfcol dl {
   margin-top: 0em;
}

#righthalfcol {
   margin-left: 50%;
   width: 50%;
}

#righthalfcol dl {
   margin-right: 0.2em;
}

#footer {
   width: 100%;
   position: relative;
   padding-top: 3px;
   bottom: 0;
   text-align: center;
}

#outer>#inner { border-bottom: 1px solid #BFC3DC;  }

.hidecss {
   display: none;
}

/* delayed until the content is prepared
dl dt {
   font-weight: bold;
}*/

#footer ul { 
   display: inline;
   list-style-type: none;
}

#footer ul li {
   display: inline;
}

#footer ul li a {
   white-space: nowrap;
}

#footer p {
   margin: 0px;
}

/* classes for package pages */

#pdesc {
   float: left;
   margin-left: 4em;
   margin-right: 4em;
}

#pdesc p {
   text-align: justify;
}

.pdescshort {
   text-align: left;
   font-size: large;
   font-weight: bold;
}

#pdeps {
   margin-left: 4em;
   margin-right: 4em;
}

#pdeps table tr td {
   font-size: 0.9em;
}

#pdeps ul {
   list-style-type: none;
   padding-left: 2em;
}

#pdeps li {
   text-indent: -2em;
}

#pdownload {
   margin-left: 4em;
   margin-right: 4em;
}

#pmoreinfo {
   margin-left: 4em;
   margin-right: 4em;
}

a:visited { color: #800080; }
a:link { color: #0000FF; }
a:active { color: #FF0000; }
a:hover {   color: #F000FF; }

.navpara a{
  white-space: nowrap;
  /* this is to keep from breaking at whitespace in anchors */
}

.clr{clear:both;}
/*.content{padding:5px;} */ /*padding for content */ 
/* #header .content{padding-bottom:0;} */ /*padding bottom 0 to remove space in IE5 Mac*/

