/* css file for debian web site - Jutta Wrage 2004 */

/* all pages have a header, outer inner and footer
leftcol and maincol can be omitted, there will be other boxes
to replace later (eg. two content columns)
normal page:
<div id="header">
  <div id="upperheader">
     <div id="logo">
     </div> <!-- end logo -->
     <div id="serverselect">
     </div> <!-- end serverselect -->
  </div> <!-- end upperheader -->
  <div id="navbar">
  </div> <!-- end navbar -->
</div> <!-- end header -->
<div id="outer">
  <div id="inner">
    <div id="leftcol">
      Leftcol is for menus - if omitted, maincol can be omitted, too
    </div> <!-- end leftcol -->
    <div id="maincol">
      Maincol with margin left is for the content
      But content may go directly to inner
    </div> <!-- end maincol -->
  </div> <!-- end inner -->
  <div id="footer">
    <hr class="hidecss"> This line is a divider for lynx
  </div> <!-- end footer -->
</div> <!-- end outer -->

*/

html, body{
   color: black;
   background-color: white;
   margin:0; 
   padding:0;
   text-align:left;
   margin-left: 4px;
   /* min-width: 440px - commented out due to mozilla problems*/
} 

img { border: 0; }

acronym {
  border-bottom: 1px dotted black;
}

#pagewidth{ 
   width:100%; 
   text-align:left; 
} 

/* now the header*/
#header {
   margin-left: -3px;
   width:100%;
   height: auto;
}

/* upper nested header box*/
#upperheader {
   width: 100%;
   margin-top: 11px;
   height: auto;
   /* height: 4.8em; */
   background: white;
}

#logo {
   float: left;
   margin-left: 6px;
   background: white;
}

#serverselect {
   display: block;
   padding-top: 1px;
   margin-right: 6px;
   margin-left: auto;
   text-align: right;
   top: 0;
   right: 0;
}

#serverselect p small {
   color: #990000;
   font-size: 0.8em;
   font-weight: normal;
}

#serverselect p select  {
   font-size: 88%;
}

#serverselect p input  {
   font-size: 88%;
}

#hpacketsearch {
   display: block;
   padding-top: 1px;
   padding-left: 5px;
   margin-right: 0.2em;
   margin-left: auto;
   text-align: left;
   width: 25em;
   top: 0em;
   right: 0em;
}

#hpacketsearch p small {
   color: #990000;
   font-size: 0.8em;
   font-weight: normal;
}

#hpacketsearch p select  {
   font-size: 88%;
}

#hpacketsearch p input  {
   font-size: 88%;
}

#navbar {
   clear: both;
   padding-left: 0px;
   /* margin-top: 5px; */
   padding-top: 6px;
   padding-bottom: 4px;
   width: 100%;
   height: auto;
   text-align: center;
   background: #DF0451;
}

#navbar ul {
   display: inline;
   list-style-type: none;
   padding-left:  0px;
}

#navbar ul li {
   display: inline;
   margin: 0;
   white-space: nowrap;
}

#navbar p {
   display: inline;
}
/*the rest of page out of two nested boxes around*/

#outer{
    /*border:solid white 2px;*/
    background-color: white;
    width: auto;
} 

#inner{
   margin:-2px;
   width:100%;
   background: white;
}

#leftcol {
   float: left;
   margin: 0px;
   margin-right: 0.4em;
   padding-right: 0.5em;
   width: auto;
   background: #BBDDFF;
   padding-left: 0px;
   font-size: 0.9em;
   font-family: Arial, Helvetica, sans-serif;
}

#leftcol ul {
   list-style-type: none;
   padding-left: 0.3em ;
   padding-top: 0em;
   font-weight: bold;
   margin-left: 0px;
}

#leftcol ul ul li a {
   font-size: 0.85em;
   font-weight: normal;
   padding-top: 0.2em;
}

#leftcol ul li {
   padding-bottom: 0.5em;
}
#leftcol ul ul li {
   padding-top: 0.1em;
   padding-bottom: 0.1em;
}

#leftcol p {
   padding-left:0.2em;
}

#leftcol p img{
   margin-left: 1em;
}

#maincol{
   background: white;
   padding-left: 11em;
   padding-right: 0.5em;
}

/* #maincol p {
   padding-left: 2em;
} */

#lefthalfcol {
   float: left;
   margin-left: 0em;
   width: 49%;
}

#lefthalfcol dl {
   margin-top: 0em;
}

#righthalfcol {
   margin-left: 50%;
   width: 50%;
}

#righthalfcol dl {
   margin-right: 0.2em;
}

#footer {
   width: 100%;
   position: relative;
   padding-top: 3px;
   bottom: 0;
   text-align: center;
   margin: 0px;
}

#fineprint {
   margin-top: 0.2em;
   padding-top: 3px;
   text-align: center;
   font-size: 0.85em;
}

#outer>#inner { border-bottom: 1px solid #BFC3DC;  }
.bordertop { border-top: 1px solid #BFC3DC;  }

.hidecss {
   display: none;
}

/*dl dt {
   font-weight: bold;
}*/

#footer ul { 
   display: inline;
   list-style-type: none;
}

#footer ul li {
   display: inline;
}

#footer ul li a {
   white-space: nowrap;
}

#footer p {
   margin: 0px;
}

/* classes for cards */

#main {
        background: #bbddff;
        padding: 1em 0; /* have some padding to get rid of collapsed margins */
}

.cardleft {
        margin: 0 0 1em;
        float: left;          
        width: 49%;
}
.cardright {
        margin-left: 50%
        /*margin: 0 1% 2em 50%; */
}
.card {
        clear: left;
        margin: 0 0 1em;
}

.cardleft h2, .cardright h2, .card h2 { 
        font-size: 120%;
        background: black;
        color: #ffd400;
        display: inline;
        padding: 0.2em 0.4em;
        margin: 0 10px;
        font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.2em;
}

.cardleft dl dd, .cardright dl dd , .card dl dd {
    padding-bottom: 0.5em;
}

.cardleft div, .cardright div, .card div {
        border: 2px solid black;
        background: white;
        padding: 0.5em;
        margin: 2px 10px;
}

/* classes and div names for package pages */

#pdesc {
   margin-left: 1em;
   margin-right: 1em;
}

#pdesc p {
   text-align: justify;
}

.pdescshort {
   text-align: left;
   font-size: large;
   font-weight: bold;
}

#pdeps {
   margin-left: 1em;
   margin-right: 1em;
}

#pdeps table tr td {
   font-size: 0.9em;
}

#pdeps ul {
   list-style-type: none;
}

#pdeps ul.uldep, #pdeps ul.uladep {
   list-style-type: disc;
   list-style-image: url(http://packages.debian.org/Pics/dep.gif);
}

#pdeps ul.ulrec, #pdeps ul.ulidep {
   list-style-type: disc;
   list-style-image: url(http://packages.debian.org/Pics/rec.gif);
}

#pdeps ul.ulsug {
   list-style-type: disc;
   list-style-image: url(http://packages.debian.org/Pics/sug.gif);
}

#pdeps dl {
   margin: 0;
}

#pdownload {
   margin-left: 1em;
   margin-right: 1em;
}

#pdownload td {
   font-size: 0.85em;
   text-align: center;
}

#pmoreinfo {
   margin-left: 1em;
   margin-right: 1em;
}

#pmoreinfo p {
   font-size: 0.85em;
}

.pred {
   color: red;
}

.psmallcenter {
   clear: both;
   font-size: 0.85em;
   text-align: center;
}

.center {
   text-align: center;
}

.top {
   vertical-align: top;
}

.dotalign {
   text-align: ".";
}

a:visited { color: #800080; }
a:link { color: #0000FF; }
a:active { color: #FF0000; }
a:hover {   color: #F000FF; }

.navpara a{
  white-space: nowrap;
  /* this is to keep from breaking at whitespace in anchors */
}

.clr{clear:both;}
/*.content{padding:5px;} */ /*padding for content */ 
/* #header .content{padding-bottom:0;} */ /*padding bottom 0 to remove space in IE5 Mac*/

/* for l10n-arabic */
.bidi { 
   direction: rtl;
   text-align: right;
}
